%ul.side-groups
  %li.side-group
    %a.side-group__link{ href: "" }
      %p.side-group__name
        Sampleグループ
      %p.side-group__message
        こんにちは
  %li.side-group
    %a.side-group__link{ href: "" }
      %p.side-group__name
        sampleグループ
      %p.side-group__message
        よろしく！
