%ul.content-messages
  %li.content-message
    %p.cotent-message__user<>
      = massage.user.name
      %span.content-message__created-time<>
        = massage.created_at.strftime("%Y/%m/%d %H:%M")
    - if massage.boby.present?
      %p.content-message__text
        = massage.boby
    = image_tag massage.image.url, class: 'massage-image' if massage.image.present?
