%ul.content-messages
  %li.content-message
    %p.cotent-message__user<>
      Fukumoto Masashi
      %span.content-message__created-time<>
        2018/12/24/16:19:09
    %p.content-message__text
      こんにちは
  %li.content-message
    %p.cotent-message__user<>
      Fukumoto Masashi
      %span.content-message__created-time<>
        2018/12/24/16:19:09
    %p.content-message__text
      こんにちは
  %li.content-message
    %p.cotent-message__user<>
      Fukumoto Masashi
      %span.content-message__created-time<>
        2018/12/24/16:19:09
    %p.content-message__text
      こんにちは
  %li.content-message
    %p.cotent-message__user<>
      Fukumoto Masashi
      %span.content-message__created-time<>
        2018/12/24/16:19:09
    %p.content-message__text
      こんにちは
  %li.content-message
    %p.cotent-message__user<>
      Fukumoto Masashi
      %span.content-message__created-time<>
        2018/12/24/16:19:09
    %p.content-message__text
      こんにちは
  %li.content-message
    %p.cotent-message__user<>
      Fukumoto Masashi
      %span.content-message__created-time<>
        2018/12/24/16:19:09
    %p.content-message__text
      こんにちは
  %li.content-message
    %p.cotent-message__user<>
      Fukumoto Masashi
      %span.content-message__created-time<>
        2018/12/24/16:19:09
    %p.content-message__text
      こんにちは
