= render 'layouts/side_bar'
.contents-main
  .content-header
    .content-header--left
      %h2.content-header__group Sampleグループ
      %p.content-header__menber
        Menber:
        %span.content-header__menber-user Fukumoto Masashi
    .content-header--right
      = link_to 'Edit', edit_group_path(current_user), class: "cotent-header__edit-btn"
  .content-body
    = render partial: 'massages/message'
  .content-footer
    %form.new-message
      .cotent-footer__message
        %textarea{ type: "text", rows: "1", placeholder: "type a message", name: "text" }
        .content-footer__icon
          %label
            %input{ type: "file", name: "", style: "display:none;" }
            =fa_icon "picture-o"
    %input.btn{ type: "submit", name: "", value: "Send" }

