.side-bar
  .header-side.clearfix
    %h5 Fukumoto Masashi
    .header-side__actions
      %a.header-side__action{ href: "" }
        =fa_icon "pencil-square-o "
      %a.header-side__action{ href: "" }
        =fa_icon "cog "
  %ul.side-groups
    %li.side-group
      %a.side-group__link{ href: "" }
        %p.side-group__name
          Sampleグループ
        %p.side-group__message
          こんにちは
    %li.side-group
      %a.side-group__link{ href: "" }
        %p.side-group__name
          sampleグループ
        %p.side-group__message
          よろしく！

.contents-main
  .content-header
    .content-header--left
      %h2.content-header__group Sampleグループ
      %p.content-header__menber
        Menber:
        %span.content-header__menber-user Fukumoto Masashi
    .content-header--right
      %a.cotent-header__edit-btn{ href: "" }
        Edit
  .content-body
    %ul.content-messages
      %li.content-message
        %p.cotent-message__user<>
          Fukumoto Masashi
          %span.content-message__created-time<>
            2018/12/24/16:19:09
        %p.content-message__text
          こんにちは
      %li.content-message
        %p.cotent-message__user<>
          Fukumoto Masashi
          %span.content-message__created-time<>
            2018/12/24/16:19:09
        %p.content-message__text
          こんにちは
      %li.content-message
        %p.cotent-message__user<>
          Fukumoto Masashi
          %span.content-message__created-time<>
            2018/12/24/16:19:09
        %p.content-message__text
          こんにちは
      %li.content-message
        %p.cotent-message__user<>
          Fukumoto Masashi
          %span.content-message__created-time<>
            2018/12/24/16:19:09
        %p.content-message__text
          こんにちは
      %li.content-message
        %p.cotent-message__user<>
          Fukumoto Masashi
          %span.content-message__created-time<>
            2018/12/24/16:19:09
        %p.content-message__text
          こんにちは
      %li.content-message
        %p.cotent-message__user<>
          Fukumoto Masashi
          %span.content-message__created-time<>
            2018/12/24/16:19:09
        %p.content-message__text
          こんにちは
      %li.content-message
        %p.cotent-message__user<>
          Fukumoto Masashi
          %span.content-message__created-time<>
            2018/12/24/16:19:09
        %p.content-message__text
          こんにちは
  .content-footer
    %form.new-message
      .cotent-footer__message
        %textarea{ type: "text", rows: "1", placeholder: "type a message", name: "text" }
        .content-footer__icon
          %label
            %input{ type: "file", name: "", style: "display:none;" }
            =fa_icon "picture-o"
    %input.btn{ type: "submit", name: "", value: "Send" }




